<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>Way We Work</title>
  <%= stylesheet_link_tag 'ie', 'reset', 'application' %>
  
  
  <!--[if lt IE 7.]>
    <script defer type="text/javascript" src="/javascripts/pngfix.js"></script>
    <![endif]-->
    
    
    <!--[if IE 6]>
      
    <![endif]-->
    
    <%= yield :head %>
</head>