<h2><a onclick="toggle('archives')">Archive</h2>
<ul id="archives">
<% @activity_by_date.keys.sort.reverse.each do |year| %>
  <li><%= year %></li>
  <ul>
    <% @activity_by_date[year].keys.sort.reverse.each do |month| %>
    <li><%= link_to(Date::MONTHNAMES[month], posts_by_month_url(year, month))%></li>
    <% end %>
  </ul>
  <% end %>
</ul>
