<h1>Listing posts</h1>

<table>
  <tr>
    <th>Feed url</th>
    <th>Contents</th>
  </tr>

<% for post in @posts %>

<%= link_to "#{post.feed.author}: #{post.feed.name}", post.feed.url %><br/>
<%= distance_of_time_in_words(Time.now, post.published) %> ago<br/>
<%= link_to post.title, post.url %><br/>
<%=h post.contents %>

<br />
<br />
<br />
<% end %>
