body  {
	font: normal 13px Arial, sans-serif;
	color: #222;
	margin: 0 auto;
	background: #F7F7F7; /* url(/assets/bg.png) repeat-x;*/
	padding: 0 0 0 0;
	line-height: 160%;
}
div, img, form, ul {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

@font-face {
    font-family: SourceSansProRegular;
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

div, span, td, .text_l {text-align: left;}
.clear 		      	{clear: both;}
.tr,
td.tr	 	        	{text-align: right;}
.tc,
td.tc		        	{text-align: center;}
a 			        	{text-decoration: underline; color: #679aa5; }
a:hover       		{text-decoration: none; }
.left 		      	{float: left;}
.right 		       	{float: right;}
li				        {list-style: none;}

#wrapper	      	{width: 90%; margin: 0 auto; padding: 0 0 0 0; text-align: center;}
#wrapper div      {text-align: left;}

h1                {font-size: 27px; font-weight: bold; padding: 20px 0 0 0; margin-top: 20px; line-height: 130%; }
h1 a              {text-decoration: none;}
h1 a:hover        {text-decoration: underline;}

h2                {font-size: 15px; font-weight: normal; padding: 0 0 10px 0;  margin-bottom: 20px;}

#site             {}

#band             {padding: 3px; background: #86bec9; margin-bottom: 25px;}

.left_column      {width: 80%;}
.left_column content  {clear: both; padding-right: 20px; padding-bottom: 20px;}
.left_column h1  {margin-right: 20px;}
blockquote,pre {background-color: #eee;  padding: 10px;  font-size: 11px; }
.right_column     {width: 20%; padding-top: 20px;}
.right_column li  {margin: 3px 0; font-weight: bold;}
.right_column h2  {font-weight: bold; margin-bottom: 0; padding: 0 0 5px 0;}
.right_column ul ul li {padding-left:1.2em;}


#footer			      {padding: 20px 0 0 0; font-size: 11px; color: #555; font-weight: bold;}

#message		      {padding: 14px; z-index: 100000; position: fixed; top: 38%; left: 40%; display: none; background: #78c89d; color: #222; font-size: 28px;}
#waiter 		      {z-index:100000; position:fixed; background:white; display: none; height: 13px; width: 208px; border:0px; top: 50%; left: 50%; margin: -6px 0 0 -104px;}

.blogs .row { clear: both;} .blogs .row .col { width: 20%; margin: 1%; background-color: #fff; color: #777; float: left; height: 35em; border: 1px #eee solid; overflow-x: auto; overflow-y: hidden; font-family: SourceSansProRegular; width: 22%;}
.blogs .row .col img { width: 100%; height: auto !important; }
.col .container-red, .col .container-green, .col .container-orange, .col .container-blue, .col .container-lime, .col .container-purple, .col .container-yellow, .col .container-black {min-height: 93%; padding: 5%; }
.col .container-red { border-bottom: 8px solid #E78E94; } .col .container-green { border-bottom: 8px solid #A2DBE2; } .col .container-orange { border-bottom: 8px solid #FE8142; } .col .container-blue { border-bottom: 8px solid #88BBDE; } 
.col a { color: inherit;} .col h1 { margin-top: 0; padding-top: 0.25em; }
.col .container-purple { border-bottom: 8px solid #D895C6;} .col .container-yellow { border-bottom: 8px solid #FDCD49;} .col .container-black { border-bottom: 8px solid #3C3431;} .col .container-lime { border-bottom: 8px solid #FEEB43; }
.col.red h1 a { color: #E78E94;} .col.green h1 a { color: #A2DBE2;} .col.orange h1 a { color: #FE8142; } .col.blue h1 a { color: #88BBDE; } .col.purple h1 a { color: #D895C6;} .col.yellow h1 a { color: #FDCD49;} .col.black h1 a { color: #3C3431;} .col.lime h1 a { color: #FEEB43; }
.col h2 {font-size: 1em;font-style: italic; color: #BBB;}
nav {
margin: 0;
height: 3em;
margin-bottom: 2em;
padding: 0 1em;
}
nav ul {
display: inline-block;
}
nav ul, nav ol {
list-style: none;
list-style-image: none;
margin: 0;
padding: 0;
}
nav ul li {
float: left;
}
nav ul li a {
color: #736D64;
display: inline-block;
text-transform: uppercase;
text-decoration: none !important;
font-size: 1.5em;
padding: 1em .6em;
-webkit-transition: .25s;
-moz-transition: .25s;
-ms-transition: .25s;
-o-transition: .25s;
transition: .25s;
position: relative;
}
.nav_item_all {
border-bottom: 3px solid #E14938;
}
.nav_item_agile {
border-bottom: 3px solid #FBB82D;
}
.nav_item_tech {
border-bottom: 3px solid #70B90D;
}
.nav_item_trivia {
border-bottom: 3px solid #17A7DD;
}

.nav_item_all:hover { color: #E14938; border-bottom: 6px solid #E14938; }
.nav_item_agile:hover { color: #FBB82D; border-bottom: 6px solid #FBB82D; }
.nav_item_tech:hover { color: #70B90D; border-bottom: 6px solid #70B90D; }
.nav_item_trivia:hover { color: #17A7DD; border-bottom: 6px solid #17A7DD; }

#wrapper .content {
width: 90%;
}

#wrapper .content table {
width: 90%;
}

#wrapper .content th { background-color: #eee; }

#wrapper .content th,  #wrapper .content td {
border: 1px solid #EEE;
padding: 5px;
}

.btn { padding: 1em; background-color: #7FC04C; color: #fff; -moz-border-radius: 0.5em; border-radius: 0.5em; float: right;}

.right_column h2 { background-color: #1E82B9; padding: 1em; color: #FFF; margin-bottom: 1em;}
.right_column h2 a { color: inherit; text-decoration: none;}
.right_column ul#authors, ul#archives { display: none; }
#authors li { background-color: #EEEEEE; padding: 0.25em 1em;}
#authors li a { text-decoration: none; color: #666;}
