<%= render :partial => "shared/head" %>

<body>
  
  <%#= display_standard_flashes %>

  <div id="band"></div>
  <div id="wrapper">
  <%= render :partial => "shared/header" %>

  <%= yield %>

  <%= render :partial => "shared/footer" %>
  </div>

</body>
</html>
